<div class="carousel-container" #carouselContainer>
  <div
    #carouselWrapper
    class="carousel-wrapper"
    [ngStyle]="{ 'transform': 'translateX(' + translateX + 'px)' }"
   
  >
    <img
      *ngFor="let imageUrl of images; let i = index"
      [src]="imageUrl"
      alt="Carousel Image {{i + 1}}"
      class="carousel-image"
    />
    <img
      *ngFor="let imageUrl of images; let i = index"
      [src]="imageUrl"
      alt="Carousel Image {{i + 1}} (duplicate)"
      class="carousel-image"
    />
  </div>
</div>

