$primary: #276a49;
$on-primary: #ffffff;
$primary-container: #acf2c7;
$on-primary-container: #045233;
$secondary-container: #d0e8d7;
$on-secondary-container: #374b3e;
$tertiary: #3c6471;
$tertiary-container: #bfe9f9;
$on-tertiary-container: #224c59;
$surface: #f6fbf4;
$on-surface:#171d19;
$card-background: #333333;
$card-text-color: #CCCCCC;
$card-title-color: #FFFFFF;