<div class="portfolio-layout">

  <div class="header-section">
    <label class="name-heading" style="padding-top: 20px;">José Carlos Cañedo Silva</label>
    <p class="charge-text">Desarrollador móvil</p>
    <div style="display: flex; align-items: center; justify-items: center; justify-content: center; gap: 8px;">

      <a href="https://www.linkedin.com/in/jc-canedo-android/">
        <img class="social-icon" src="images/linkedin.png" alt="">
      </a>

      <a href="https://github.com/hicks17">
        <img class="social-icon" src="images/github.png" alt="">
      </a>

      <label class="number-label">+52 669 403 1974</label>
      <label class="number-label">|</label>
      <label class="number-label" >jc.canedo16&#64;gmail.com</label>
      
    </div>
    
  </div>

  <div class="content-section">
    <h2 class="section-title">Acerca de mí</h2>
    <p class="section-content">Soy un recién egresado de Ingeniería en Software, con conocimiento de desarrollo nativo Android, desde 2021 he aprendido de manera autodidacta el desarrollo nativo Android con Kotlin y a lo largo de 3 años he publicado 3 apps en Play Store, usando las tecnologías más usadas en la industria de Desarrollo Android tales como Jetpack Compose, Retrofit, Dagger Hilt, MVVM con Clean, Room, etc. También tengo experiencia en el desarrollo de apps multiplataforma con tecnologías web (Angular) en el framework Ionic, así como conocimiento de Google Play Console y App Store Connect para lanzamientos a Producción.</p>
  </div>

  <div class="content-section">
    <h2 class="section-title">Mi educación</h2>
    <p class="section-content">Estudié Ingeniería en Software en la Universidad Autónoma de Occidente campus Mazatlán, de 2021 a 2025, donde aprendí a desarrollar páginas web, Python, PHP, desarrollo de aplicaciones móviles Android, base de datos, etc.</p>
  </div>

  <div class="content-section">
    <h2 class="section-title">Mi experiencia</h2>
    <p class="section-content">Enero 2025 - Junio 2025 | Grupo STI</p>
    <p class="section-content">Aquí desarrollé mis Estancias Profesionales, donde participé en el mantenimiento de una app para una importante compañía de retail en el país, así como publicar versiones a producción a las tiendas de aplicaciones tanto de Google Play y App Store. Addemás trabajé en el mantenimiento y nuevas funcionalidades de apps Android nativas con Java y Kotlin También colaboré en el desarrollo de apps híbridas de alto impacto con Ionic, usando tecnologías web (Typescript, HTML, CSS) en el framework Angular. En estas apps también usé los IDE's nativos (Android Studio y Xcode) para su publicación en plataformas para pruebas internas (App Store Connect y Google Play Console)</p>

   
  </div>

  <label class="stack-label">Mi stack</label>

</div>

<div class="stack-carousel-container">
  <app-stack-components [autoScroll]="true"></app-stack-components>
</div>


<div class="portfolio-layout">

  <div class="content-section">

    <h2 class="section-title">Mis proyectos</h2>
    <p class="section-content">A lo largo de 4 años he aprendido de manera autodidacta a desarrollar apps Android de forma nativa con Java pero más con Kotlin, y he llevaddo a cabo distintos proyectos personales, entre ellos se incluyen 3 apps que he publicado en Play Store </p>
    
  </div>
  
</div>

  <app-project-preview
  *ngFor="let it of projects" [project]="it"
></app-project-preview>



<router-outlet />
