/* You can add global styles to this file, and also import other style files */
html, body{
 margin: 0;
 padding: 0;
} 

/* src/styles.css */

@font-face {
    font-family: 'FuturaFont'; /* El nombre que le das a tu fuente */
    src: url('assets/fonts/ProductSans-Regular.ttf') format('truetype');/* Ruta a tu archivo de fuente */

    font-weight: normal; /* Define el peso si es una fuente regular */
    font-style: normal; /* Define el estilo si es normal o italic */
    font-display: swap; /* Muy importante para la carga: muestra un texto de fallback mientras carga la fuente */
  }

  
@font-face {
    font-family: 'FuturaFont'; /* El nombre que le das a tu fuente */
    src: url('assets/fonts/ProductSans-Bold.ttf') format('truetype');/* Ruta a tu archivo de fuente */

    font-weight: bold; /* Define el peso si es una fuente regular */
    font-style: normal; /* Define el estilo si es normal o italic */
    font-display: swap; /* Muy importante para la carga: muestra un texto de fallback mientras carga la fuente */
  }

  
@font-face {
    font-family: 'FuturaFont'; /* El nombre que le das a tu fuente */
    src: url('assets/fonts/ProductSans-Thin.ttf') format('truetype');/* Ruta a tu archivo de fuente */

    font-weight:lighter; /* Define el peso si es una fuente regular */
    font-style: normal; /* Define el estilo si es normal o italic */
    font-display: swap; /* Muy importante para la carga: muestra un texto de fallback mientras carga la fuente */
  }

  @font-face {
    font-family: 'FuturaFont'; /* El nombre que le das a tu fuente */
    src: url('assets/fonts/ProductSans-Medium.ttf') format('truetype');/* Ruta a tu archivo de fuente */

    font-weight:400; /* Define el peso si es una fuente regular */
    font-style: normal; /* Define el estilo si es normal o italic */
    font-display: swap; /* Muy importante para la carga: muestra un texto de fallback mientras carga la fuente */
  }
  
  /* ... luego aplicas la fuente como en el Paso 3 del método de Google Fonts ... */
  html, body {
    font-family: 'FuturaFont', sans-serif;
    /* Otros estilos... */
  }